.login{
    background-image: url('https://i.ibb.co.com/GPrL7v6/Explore-Bangladesh-travel-destinations-1024x585.jpg');
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    min-height: 650px;
    padding-top: 90px;
}
.bg-login{
    background-color: rgba(29, 25, 25, 0.8); 
}